@model ProductMVCProject.Admin.ViewModel.HomePageModel
@{
    ViewBag.Title = "Home Page";
}
<!--Category-->
				<div class="well">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-th fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="huge">
												@Model.CategoryCount
											</div>
											<div>Kategori</div>
										</div>
									</div>
								</div>
								<a href="/category">
									<div class="panel-footer">
										<span class="pull-left">Detaylar</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</div>
								</a>
							</div>
						</div>


						<!--Product-->
						<div class="col-lg-3 col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-tasks fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="huge">
												@Model.ProductCount
											</div>
											<div>Ürün</div>
										</div>
									</div>
								</div>
								<a href="/product">
									<div class="panel-footer">
										<span class="pull-left">Detaylar</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</div>
								</a>
							</div>
						</div>



						<!--ProductImage-->
						<div class="col-lg-3 col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-file fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="huge">
												@Model.ProductImageCount
											</div>
											<div>Ürün Resimleri</div>
										</div>
									</div>
								</div>
								<a href="/product">
									<div class="panel-footer">
										<span class="pull-left">Detaylar</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</div>
								</a>
							</div>
						</div>


						<!--ProductFeature-->
						<div class="col-lg-3 col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-image fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="huge">
												@Model.ProductFeatureCount
											</div>
											<div>Ürün Özellikleri</div>
										</div>
									</div>
								</div>
								<a href="/product">
									<div class="panel-footer">
										<span class="pull-left">Detaylar</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</div>
								</a>
							</div>
						</div>


					</div>
					</div>
